header img{width:100%; height:170px; margin-bottom: 20px;}

footer{
background-color:;
padding: 30px;
font-family: Impact;
}
body{margin-top: 0; margin-left: 0; margin-right: 0;}
a{text-decoration: none;
background-color:#024B16 ;
color: azure;
font-size: 30px;
padding: 15px;
border-radius: 25px;
margin: 30px;


}
.img2{margin-top: 25px; width: 100%;}
footer p{background-color:#A89DB1; padding: 20px;
border-radius: 17px;
max-width:450px ;
font-size: 20px;}
